In [ ]:
Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

In [ ]:
Exercise 2: Create markdown cell with title of the notebook using H1 style heading.

# Data Science Tools and Ecosystem

In [ ]:
Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Exercise 10 - Insert a markdown cell to list Objectives

## Objectives of this notebook:
* List of Data Science Languages
* List of Data Science Libraries
* List of Data Science Tools
* Arithmetic Expressions

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Scala</li>
</ol>

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
* Scikit-Learn
* Keras
* Pandas
* NumPy

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| PyCharm            |
| Visual Studio Code |

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(20+5) * 4

100

In [4]:
29 * 1

29

In [5]:
100 / 4

25.0

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers

In [6]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

In [8]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Mitsu

In [ ]:
Exercise 12 - Share your notebook through GitHub

In [ ]:
Exercise 13 -Take a screenshot of the first page of the notebook